<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>customers</ion-title>
  </ion-toolbar>
  <ion-toolbar color="mycolor">
    <ion-searchbar
      placeholder="Buscar"
      animated="true"
      [debounce]="200"
      (ionInput)="searchCustomer($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="permission">
    <ion-item *ngFor="let user of searchedUser">
      <ion-avatar slot="start">
        <img src="../../assets/customers-img/{{user.image}}" />
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{user.name}}</h2>
        <h3>{{user.state}}</h3>
        <p>{{user.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-label *ngIf="!permission"
    >No tienes permisos de ver los clientes</ion-label
  >
</ion-content>
